
<div class="courses-list">
  <!--  for loop  -->
  <div class="container">
    <div class="course-title">
      <p class="course-main-title">Introduction to Python Programming</p>
      <p class="course-second-title">Start your coding journey with Python!</p>
      <button routerLink="/course-details">Go</button>
    </div>
    <img src="assets/course-images/python.png" alt="course-image">
  </div>

  <div class="container">
    <div class="course-title">
      <p class="course-main-title">Introduction to Python Programming</p>
      <p class="course-second-title">Start your coding journey with Python!</p>
      <button routerLink="/course-details">Go</button>
    </div>
    <img src="assets/course-images/python.png" alt="course-image">
  </div>
</div>
