
.profile{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.personal{
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 50px;
}

.white-button{
  background: #F3F3F3;
  color: #2C6F5A;
  border: none;
  border-radius: 30px;
  padding: 15px;
  font-size: 15px;
  margin-top: 10px;
}

.white-button:hover{
  background: #e1e1e1;
  color: #2C6F5A;
}

button{
  margin-right: 10px;
  cursor: pointer;
}

p{
  color: #2C6F5A;
  margin: 3px;
}

.profile-name{
  font-size: 20px;
  margin-bottom: 20px;
}

.active{
  display: flex;
}

.inactive{
  display: none;
}
