<div class="auth-form">
  <!--  <img src="assets/images/aqyl-logo.png"  alt="aqyl-logo" class="logo">-->

  <form>
    <div class="form-input-box">
      <p>Full Name</p>
      <input type="text">
    </div>

    <div class="form-input-box">
      <p>Email</p>
      <input type="email">
    </div>

    <div class="form-input-box">
      <p>Password</p>
      <input type="password">
    </div>

    <div class="form-input-box">
      <p>Verify password</p>
      <input type="password">
    </div>

    <button type="submit">Sign up</button>

  </form>
</div>

