<div class="auth-form">
  <form (ngSubmit) = "signUp(nameInput.value, emailInput.value, passwordInput.value)">
    <div class="form-input-box">
      <p>Full Name</p>
      <input type="text" #nameInput name="name">
    </div>

    <div class="form-input-box">
      <p>Email</p>
      <input type="email" #emailInput name="email">
    </div>

    <div class="form-input-box">
      <p>Password</p>
      <input type="password" #passwordInput name="password">
    </div>

    <div class="form-input-box">
      <p>Verify password</p>
      <input type="password">
    </div>

    <button type="submit">Sign up</button>

  </form>
</div>

