<div class="header">
  <div>
    <img routerLink="/" src="assets/images/aqyl-logo.png"  alt="aqyl-logo" class="logo">
    <a routerLink="/courses" class="menu-items">Courses</a>
  </div>

  <div [ngClass]="isTokenActive ? 'inactive' : 'active'">
    <button routerLink="/sign-in">Sign in</button>
    <button routerLink="/sign-up">Sign up</button>
  </div>

  <div [ngClass]="isTokenActive ? 'active' : 'inactive'">
    <div class="search-container">
      <input class="search-input" type="text" name="search" placeholder="Search in Aqyl"/>
      <img class="search-icon" alt="search" src="assets/icons/search-icon.png"/>
    </div>
    <button routerLink="/profile">Profile</button>
  </div>
</div>

<div class="divider"></div>

