<div class="auth-form">

  <form (ngSubmit)="signIn()" #signInForm = "ngForm">
    <div class="form-input-box">
      <p>Email</p>
      <input type="email" name="email" [(ngModel)]="user.email" required>
    </div>

    <div class="form-input-box">
      <p>Password</p>
      <input type="password" name="password" [(ngModel)]="user.password" required>
    </div>

    <button type="submit" [disabled]="!signInForm.valid">Sign in</button>

  </form>

  <div [ngClass]="['message', 'error-message', errorMessage != '' ? 'error-occurred' : '']">
    <p>{{errorMessage}}</p>
  </div>

</div>

